.header{
    background-image:url("img/banner-01.jpg");
    background-size: cover;
    height:80vh;
    position:relative;
}
.icon{
    width:100px
}
.bgimg {
    background-image: url(img/video-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    position: relative;
    color: white; /* text visible on dark bg */
    text-align: center;
}

.text-box {
    position: absolute;
    top: 70px; /* space from top of section */
    left: 50%;
    transform: translateX(-50%);
}

.bgimg img {
    width: 700px;
    height: 300px;
    max-width: 100%; /* responsive */
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* only center horizontally */
    bottom: -120px; /* adjust how far from the bottom */
    border-radius: 5px;
}



